#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    combos {
        compatible = "zmk,combos";

        // PyCharm quick access combos

        combo_run {
            timeout-ms = <50>;
            key-positions = <4 5>; // R and T keys
            bindings = <&kp LS(F10)>; // Run
            layers = <0>;
            require-prior-idle-ms = <300>;
        };

        combo_debug {
            timeout-ms = <50>;
            key-positions = <5 7>; // T and Y keys  
            bindings = <&kp LS(F9)>; // Debug
            layers = <0>;
            require-prior-idle-ms = <300>;
        };

        combo_find_file {
            timeout-ms = <50>;
            key-positions = <3 4>; // E and R keys
            bindings = <&kp LC(LS(N))>; // Go to file
            layers = <0>;
            require-prior-idle-ms = <300>;
        };

        combo_extract_method {
            timeout-ms = <50>;
            key-positions = <15 16>; // F and G keys on QWERTY
            bindings = <&kp LC(LA(M))>; // Extract Method
            layers = <0>;
            require-prior-idle-ms = <300>;
        };

        combo_extract_variable {
            timeout-ms = <50>;
            key-positions = <28 29>; // M and Comma keys
            bindings = <&kp LC(LA(V))>; // Extract Variable
            layers = <0>;
            require-prior-idle-ms = <200>;
        };

        combo_rename {
            timeout-ms = <50>;
            key-positions = <4 16>; // R and F keys
            bindings = <&kp LS(F6)>; // Rename
            layers = <0>;
            require-prior-idle-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E  &kp R     &kp T                          &kp UP                &kp Y      &kp U  &kp I            &kp O    &kp P     &kp BSPC
&td0       &kp A  &kp S  &kp D  &kp F     &kp G                &kp LEFT  &kp ENTER  &kp RIGHT  &kp H      &kp J  &kp K            &kp L    &kp SEMI  &kp SQT
&kp LCTRL  &kp Z  &kp X  &kp C  &kp V     &kp B      &tog 3              &kp DOWN              &kp N      &kp M  &kp COMMA        &kp DOT  &kp FSLH  &kp ESC
                         &mo 1  &kp LGUI  &kp SPACE                                            &kp ENTER  &mo 2  &lt 3 RIGHT_ALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        lower_layer {
            display-name = "NUMBER";
            bindings = <
&trans  &kp N1           &kp N2          &kp N3        &kp N4        &kp N5                                         &mmv MOVE_UP                     &kp N6           &kp N7           &kp N8           &kp N9           &kp N0    &kp DEL
&trans  &bt BT_CLR_ALL   &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3                   &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp LEFT         &kp DOWN         &kp UP           &kp RIGHT        &kp HOME  &kp PG_UP
&trans  &rgb_ug RGB_OFF  &rgb_ug RGB_ON  &trans        &trans        &rgb_ug RGB_EFF  &kp C_MUTE                    &mmv MOVE_DOWN                   &rgb_ug RGB_EFR  &rgb_ug RGB_SPI  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &kp END   &kp PG_DN
                                         &trans        &trans        &trans                                                                          &kp LGUI         &kp LS(LGUI)     &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        raise_layer {
            display-name = "SYMBOL";
            bindings = <
&trans  &kp EXCL      &kp AT        &kp HASH   &kp DLLR   &kp PRCNT                            &mmv MOVE_UP                     &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &kp BSPC
&trans  &bt BT_CLR    &mkp LCLK     &mkp MCLK  &mkp RCLK  &mkp MB4             &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp BSLH  &kp GRAVE
&trans  &out OUT_USB  &out OUT_BLE  &none      &none      &mkp MB5   &trans                    &mmv MOVE_DOWN                   &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC  &kp PIPE  &kp TILDE
                                    &trans     &trans     &kp SPACE                                                             &kp RET    &trans     &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        layer_3 {
            display-name = "Fn";
            bindings = <
&studio_unlock  &kp F1      &kp F2     &kp F3       &kp F4     &kp F5                                  &mmv MOVE_UP                     &kp F6       &kp F7     &kp F8       &kp F9      &kp F10          &kp F11
&trans          &trans      &mkp LCLK  &mkp MCLK    &mkp RCLK  &mkp MB4                &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &bootloader  &mkp LCLK  &mkp MCLK    &mkp RCLK   &kp PRINTSCREEN  &kp F12
&trans          &sys_reset  &trans     &bootloader  &trans     &mkp MB5  &kp C_MUTE                    &mmv MOVE_DOWN                   &trans       &trans     &bootloader  &sys_reset  &kp SCROLLLOCK   &kp PAUSE_BREAK
                                       &trans       &trans     &trans                                                                   &trans       &trans     &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };
    };
};

/*
 * PyCharm Layer (Layer 4) Key Mappings:
 * 
 * LEFT SIDE - Navigation & Search:
 * ┌──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┐
 * │ Ctrl+N       │ Ctrl+Shift+N │ Ctrl+F       │ Ctrl+R       │ Ctrl+G       │ Ctrl+B       │
 * │ Go to Class  │ Go to File   │ Find         │ Replace      │ Go to Line   │ Go to Decl   │
 * ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
 * │ Alt+F7       │ Ctrl+Q       │ Ctrl+P       │ Ctrl+Alt+B   │ F6           │ Ctrl+Alt+M   │
 * │ Find Usages  │ Quick Doc    │ Param Info   │ Go to Impl   │ Move         │ Extract Mthd │
 * ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
 * │ Ctrl+Z       │ Ctrl+X       │ Ctrl+C       │ Ctrl+V       │ Ctrl+D       │ F12          │
 * │ Undo         │ Cut          │ Copy         │ Paste        │ Duplicate    │ Back         │
 * └──────────────┴──────────────┴──────────────┼──────────────┼──────────────┼──────────────┤
 *                                              │ TRANS        │ TRANS        │ TRANS        │
 *                                              └──────────────┴──────────────┴──────────────┘
 * 
 * RIGHT SIDE - Run/Debug & Actions:
 * ┌──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┐
 * │ Shift+F10    │ Shift+F9     │ Ctrl+Shift+F │ F2           │ Shift+F6     │ Ctrl+/       │
 * │ Run          │ Debug        │ Find in File │ Next Error   │ Rename       │ Comment      │
 * ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
 * │ F8           │ F7           │ Ctrl+F8      │ Alt+F9       │ Ctrl+Y       │ Ctrl+Shift+Y │
 * │ Step Over    │ Step Into    │ Breakpoint   │ Run to Cur   │ Delete Line  │ Delete Line  │
 * ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
 * │ F9           │ F10          │ F11          │ Alt+Left     │ Alt+Right    │ Ctrl+Alt+L   │
 * │ Resume       │ Step Out     │ Full Screen  │ Back         │ Forward      │ Format Code  │
 * ┌──────────────┼──────────────┼──────────────┼──────────────┴──────────────┴──────────────┘
 * │ TRANS        │ REFACTOR→    │ TRANS        │
 * └──────────────┴──────────────┴──────────────┘
 * 
 * Refactor Layer (Layer 5) Key Mappings:
 * Access: From PyCharm layer, hold the middle thumb key OR use F+G combo
 * 
 * LEFT SIDE - Extract & Inline Operations:
 * ┌──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┐
 * │ Ctrl+Alt+N   │ Ctrl+Alt+C   │ Ctrl+Alt+F   │ Ctrl+Alt+P   │ Ctrl+Alt+T   │              │
 * │ Inline       │ Extract Const│ Extract Field│ Extract Param│ Surround With│              │
 * ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
 * │ Ctrl+Alt+L   │ Ctrl+H       │ Ctrl+Alt+R   │ Ctrl+Alt+E   │ Ctrl+U       │              │
 * │ Reformat Code│ Type Hier    │ Replace      │ Recent Edit  │ Super Method │              │
 * ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
 * │ Shift+F6     │ F6           │ Ctrl+F6      │ CA+Shift+M   │ CA+Shift+T   │              │
 * │ Rename       │ Move         │ Copy         │ Move Members │ Move Static  │              │
 * └──────────────┴──────────────┴──────────────┼──────────────┼──────────────┼──────────────┤
 *                                              │ TRANS        │ TRANS        │ TRANS        │
 *                                              └──────────────┴──────────────┴──────────────┘
 * 
 * RIGHT SIDE - Advanced Refactoring & Structure:
 * ┌──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┐
 * │ Ctrl+Alt+M   │ Ctrl+Alt+V   │ Ctrl+Alt+/   │ Ctrl+Alt+S   │ Ctrl+Alt+I   │ Ctrl+Shift+T │
 * │ Extract Mthd │ Extract Var  │ Extract Iface│ Settings     │ Implement    │ Create Test  │
 * ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
 * │ Alt+Insert   │ Ctrl+Alt+D   │ Ctrl+T       │ Ctrl+F12     │ Alt+F1       │ Ctrl+Alt+U   │
 * │ Generate     │ Introduce    │ Refactor Menu│ File Structure│ Select Target│ UML Diagram  │
 * ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
 * │ CA+Shift+U   │ CA+Shift+D   │ CA+Shift+F   │ CA+Shift+P   │ CA+Shift+A   │ CA+Shift+S   │
 * │ Turn Into    │ Convert       │ Change Sig   │ Pull Up      │ Abstract     │ Safe Delete  │
 * ┌──────────────┼──────────────┼──────────────┼──────────────┴──────────────┴──────────────┘
 * │ TRANS        │ TRANS        │ TRANS        │
 * └──────────────┴──────────────┴──────────────┘
 * 
 * Access Methods:
 * 1. COMBO: Hold both inner thumb keys (Space + Enter) to access PyCharm layer
 * 2. From PyCharm layer: Hold middle thumb key to access Refactor layer
 * 3. Quick refactor combos on QWERTY layer:
 *    - R+T: Run (Shift+F10)
 *    - T+Y: Debug (Shift+F9)  
 *    - E+R: Go to File (Ctrl+Shift+N)
 *    - ,+.: Comment/Uncomment (Ctrl+/)
 *    - F+G: Extract Method (Ctrl+Alt+M)
 *    - M+,: Extract Variable (Ctrl+Alt+V)  
 *    - R+F: Rename (Shift+F6)
 * 
 * Abbreviations:
 * CA = Ctrl+Alt, CS = Ctrl+Shift, CAS = Ctrl+Alt+Shift
 */
